<html>
<h1><% if @email_address != nil %>
   WELCOME <%= @email_address %>
   <% end %>
 </h1>
<h1> Here is the list of your bookmarks</h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li> <a href = <%=link.link_url%> > <%=link.link_name %> </a> | Tags:  <%= link.tags.map(&:tag_name).join(" ")%> </li>
  <% end %>
</ul>

</html>
