<html>
  <form method="/post" action="/signupform">
    <h3>Input email address</h3>
    <input type="text" name="email_address" placeholder="Email" />
    <h3>Input password</h3>
    <input type="text" name="password" placeholder="Password" />
    <input type="submit" value="Sign up"  />
  </form>

</html>
